@import url("./normalize.css");

:root {
	--background-color1: #001220;
	--background-color2: #fbae4c;
	--background-color3: #96446e;
	--text-color-w: #fff;
	--text-color-b: #1a291f;
	--nav-bg: rgba(0, 0, 0, 0.3);
	--glass-bg-color: rgba(255, 255, 255, 0.2);
	--danger-color: rgba(255, 100, 100, 0.4);
	--danger-border-color: rgba(255, 100, 100, 0.5);
	--warning-color: rgba(229, 192, 123, 0.4);
	--warning-border-color: rgba(229, 192, 123, 0.5);
	--info-color: rgba(95, 182, 233, 0.4);
	--info-border-color: rgba(95, 182, 233, 0.5);
	--btn-remove-color: #ff1f71;
	--btn-success-color: rgb(112, 255, 112);
	--btn-update-color: rgb(119, 159, 250);
	--glass-blue-color: rgba(119, 159, 250, 0.5);
}
* {
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
}

html {
	background-image: url(./blob-scene-haikei.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

	color: var(--text-color-w);
}

.container {
	width: 80%;
	margin: 0 auto;
}

.form-section {
	max-width: 700px;
	display: flex;
	justify-content: center;
}
